*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100vh;
    background-image: url(background.jpg);
    background-size: contain;
    background-position: center;
    position: relative;
    overflow: hidden;
}
nav{ 
    display: flex;
    flex-wrap: wrap;
    background-color:rgba(0,0, 0, 0.5);
    width: 100%;
    height: 15%;
    justify-content: center;
}
nav ul{
    list-style-type: none;
}
nav ul a{
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    color:white;
    transition: 0.2s ease-in;
}
nav ul a:hover{
    background-color: lightskyblue;
    color: white;
}
.welcome{
    position: absolute;
    width: 600px;
    height: 300px;
    margin: 15% 30%;
    text-align: center;
}
.welcome h1{
    text-align: center;
    color: black;
    text-transform: uppercase;
    font-size: 60px;
}
.welcome a{
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 20px;
    display: inline-block;
    color: black;
}
.welcome a:hover{
    background: lightgoldenrodyellow;
    color: black;
}


@media (max-width:820px){
    .welcome {
    width: 100%;
    height: auto;
    margin: 30% 0;
    }
    .welcome h1 {
    font-size: 30px;
    }
    }

@media (max-width:600px){
    .welcome {
    width: 100%;
    height: auto;
    margin:50% 0;
    }
    .welcome h1 {
    font-size: 30px;
    }
    }

